/*** GENERAL STYLING ***/

body {
  color: #023047;
  background-color: #8ecae6;
  font-family: "Roboto Slab", serif;
}

/*** BOX CONTAINER ***/

.weather-app {
  max-width: 900px;
  margin: 0 auto;
  padding: 35px;
  border: solid 7px #219ebc;
  background-color: white;
  margin-top: 30px;
  border-radius: 8px;
}

/*** SEARCH ENGINE ***/

#search-form {
  margin-bottom: 15px;
}

::placeholder {
  color: white;
}

input {
  background-color: #8ecae6;
  border: solid 1px #8ecae6;
  border-radius: 15px;
  padding: 10px 8px;
  color: white;
}

#searchInput {
  width: 400px;
  padding-left: 15px;
}

.currentLocation {
  width: 150px;
  transition: all 200ms ease-in;
}

.currentLocation:hover {
  background-color: #023047;
}

.col-3 {
  width: 150px;
  margin-right: 20px;
}

/* 
.col-1 {
  width: 36px;
  padding: 0px;
}

.degree {
  border-radius: 3px;
}
*/

#temperature {
  padding-top: 20px;
}

/*** FORECAST OF THE DAY ***/

/* Temperature */
.col-md-3 {
  padding: 0px;
  width: 160px;
}

.icon {
  width: 150px;
}

h1 {
  text-align: center;
}

#currentTemperature {
  font-size: 70px;
}

/* Units */

.units {
  font-size: 20px;
  position: relative;
  top: -35px;
}

.inactive {
  font-weight: normal;
  color: #8ecae6;
  text-decoration: none;
}

.inactive:hover {
  text-decoration: underline;
  color: #8ecae6;
}

.active {
  text-decoration: none;
  font-weight: 900;
  color: #023047;
  cursor: default;
}

.active:hover {
  color: #023047;
  text-decoration: none;
}

/* City and detailed description of the day */

#city {
  font-size: 30px;
  font-weight: bold;
}

ul {
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#description {
  text-transform: capitalize;
}

/*** CREDITS ***/

p {
  text-align: center;
  margin-top: 15px;
}

p a {
  color: #023047;
  font-weight: 900;
  text-decoration: none;
}

p a:hover {
  color: #023047;
  text-decoration: underline;
}

#sun {
  position: absolute;
  width: 187px;
  height: 187px;
  left: 189px;
  top: 261px;
}
