/*** GENERAL STYLING ***/

body {
  color: #023047;
  background-color: #8ecae6;
  font-family: "Roboto Slab", serif;
}

/*** BOX CONTAINER ***/

.weather-app {
  max-width: 900px;
  margin: 0 auto;
  border: solid 7px #219ebc;
  background-color: white;
  margin-top: 30px;
  border-radius: 8px;
  padding-bottom: 0px;
}

.top {
  padding: 35px 35px 0px 35px;
}

.bottom {
  border: solid 35px #219ebc;
  border-top: none;
}

.wave {
  padding: 0%;
  margin: 0%;
}

/*** SEARCH ENGINE ***/

#search-form {
  margin-bottom: 15px;
}

::placeholder {
  color: white;
}

input {
  background-color: #8ecae6;
  border: solid 1px #8ecae6;
  border-radius: 15px;
  padding: 10px 8px;
  color: white;
}

#searchInput {
  width: 400px;
  padding-left: 15px;
}

form .col-3 {
  width: 143px;
}

.currentLocation {
  width: 130px;
  margin-right: 10px;
  transition: all 200ms ease-in;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.currentLocation:hover {
  background-color: #023047;
  border: solid 1px #023047;
  cursor: pointer;
}

#search-form .col-3 {
  padding-left: 8px;
}

/*
.col-3 {
  width: 150px;
  margin-right: 20px;
}
*/

#location-button {
  width: 46px;
  background-color: #8ecae6;
  border-radius: 15px;
  transition: all 200ms ease-in;
  border: solid 1px #8ecae6;
  padding: 10px;
}

#location-button:hover {
  background-color: #023047;
  border: solid 1px #023047;
}

/* 
.col-1 {
  width: 36px;
  padding: 0px;
}

.degree {
  border-radius: 3px;
}
*/

#temperature {
  padding-top: 20px;
}

/*** FORECAST OF THE DAY ***/

/* Wave */
#wave {
  background-color: #219ebc;
  width: 100%;
}
/* Temperature */
.col-md-3 {
  padding: 0px;
  width: 160px;
}

.icon {
  width: 150px;
}

h1 {
  text-align: center;
}

#currentTemperature {
  font-size: 70px;
}

/* Units */

.units {
  font-size: 20px;
  position: relative;
  top: -35px;
}

.inactive {
  font-weight: normal;
  color: #8ecae6;
  text-decoration: none;
}

.inactive:hover {
  text-decoration: underline;
  color: #8ecae6;
}

.active {
  text-decoration: none;
  font-weight: 900;
  color: #023047;
  cursor: default;
}

.active:hover {
  color: #023047;
  text-decoration: none;
}

/* City and detailed description of the day */

#city {
  font-size: 30px;
  font-weight: bold;
}

ul {
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#description {
  text-transform: capitalize;
}

/*** FORECAST ***/
.week-weather-forecast {
  text-align: center;
  color: white;
}

.weather-forecast-frame {
  background-color: #023047;
  border-radius: 15px;
  height: 180px;
  padding-top: 20px;
}

.weather-forecast-icon {
  padding: 15px 0px;
  width: 60px;
}

/*** CREDITS ***/

p {
  text-align: center;
  margin-top: 15px;
}

p a {
  color: #023047;
  font-weight: 900;
  text-decoration: none;
}

p a:hover {
  color: #023047;
  text-decoration: underline;
}

#sun {
  position: absolute;
  width: 187px;
  height: 187px;
  left: 189px;
  top: 261px;
}
